.game-box{
   border:1px solid black;
   font-size:160px;
   width:150px;
   height:160px;
   display:flex;
   align-items:center;
   justify-content:center;
   margin-left:2px;
   cursor:pointer;
}
.game-box:hover{
  background:grey;
}
.board{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  width:min-content;
  margin:0 auto;
}
.tic-tac-toe{
  text-align:center;
}